#contact {
  text-align: center;
}
#contact h3 {
  color: #fff;
  margin-bottom: 0.5rem;
}
#contact h2 {
  font-size: 32px;
  font-weight: bold;
}
#contact p {
  color: #fff;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}